<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Error | <%= title %></title>
</head>
<body style="background-color: aquamarine; color: coral; font-size: 1.5rem;">
   <h2>Oooops!</h2>
   <h3 style=" margin-top: 150px; color: brown; font-size: 50px; margin-left: 80px;">Page Not Found!!</h3>
</body>
</html>