<!DOCTYPE html>
<html>
<head>
   <title>Jade Page | <%= title %> </title>
</head>
<body>
   <nav>
      <a href="/index">Home</a>
      <a href="/">Sample</a>
      <a href="/create">New Blog</a>
   </nav>
<div class="about content">
   <h2>About Us</h2>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt doloribus porro tenetur error eum, officia quod tempore autem nulla saepe.</p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt doloribus porro tenetur error eum, officia quod tempore autem nulla saepe.</p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt doloribus porro tenetur error eum, officia quod tempore autem nulla saepe.</p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt doloribus porro tenetur error eum, officia quod tempore autem nulla saepe.</p>
</div>
</body>
</html>